__pycache__/
*.py[cod]
*.swp
.DS_Store
.env
venv/
generate_context_summary.sh
vision_project_context.txt

# Ignorar dados pesados e modelos treinados
data_manual
data/raw/video.mp4
data/processed/*
config/data_run.yaml
models/
*.pt
*.pth
runs/

# Dados Multimídia
*.mp4
*.avi
*.mov
data/processed/*
!data/raw/.gitkeep